%h1 Listing auspiciadores

%table
  %tr
    %th Link
    %th
    %th
    %th

  - @auspiciadores.each do |auspiciador|
    %tr
      %td= auspiciador.link
      %td= link_to 'Show', auspiciador
      %td= link_to 'Edit', edit_auspiciador_path(auspiciador)
      %td= link_to 'Destroy', auspiciador, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Auspiciador', new_auspiciador_path
