= form_for @programa do |f|
  - if @programa.errors.any?
    #error_explanation
      %h2= "#{pluralize(@programa.errors.count, "error")} prohibited this programa from being saved:"
      %ul
        - @programa.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :titulo, "Título"
    = f.text_field :titulo
  .field
    = f.label :contenido
    = f.text_area :contenido
  .actions
    = f.submit 'Guardar'
