#days-menu
  %ul
    %li
      = link_to 'Lunes', '#'
    %li
      = link_to 'Martes', '#'
    %li
      = link_to 'Miércoles', '#'
    %li
      = link_to 'Jueves', '#'
    %li
      = link_to 'Viernes', '#'
    %li
      = link_to 'Sábado', '#'
    %li.last
      = link_to 'Domingo', '#'
