.region
  %h2.title
    %b
      = page_title! @programa.titulo

  = 'Programar ' + @programa.titulo + ' al día:'

  - if @programa.dias.count < Dia.count then
    = form_tag(agregar_dia_programa_path(@programa)) do
      .select
        = select_tag(:dia, options_from_collection_for_select(@programa.dias_libre, :id, :nombre))

      .actions
        = submit_tag 'Agregar'
  - else
    = @programa.titulo + ' pertenece a todos los días.'


.region
  - if @dias.length > 0
    Actualmente está programado los siguientes días:
    = form_tag(eliminar_dia_programa_path(@programa), :class => 'dias') do
      .checkboxes
        - for dia in @dias do
          .dia
            = dia.nombre
            = check_box_tag "dias[]", dia.id

      .actions
        = submit_tag "Eliminar días marcados"
  - else
    No pertenece a ningun día aún.

= link_to 'Regresar', lista_programas_path, :class => 'button'
