
= render 'scripts/codaslider'

.region
  %h2.title
    %b
      = page_title! 'Programación'

  - if current_admin
    .administration.head
      = link_to 'Agregar Programa', new_programa_path, :class => 'button new'
  #week-days.coda-slider
    - Programa::DIAS.each_with_index do |dia, i|
      %div
        %h2.dia
          = dia
        - Programa.where("dia = ?", i).each do |programa|
          .content
            %article
              %header
                %h3
                  = programa.titulo
              .inner
                = paragraph(programa.contenido)
            - if current_admin
              .administration.iteration
                = link_to 'Editar', edit_programa_path(programa), :class => 'button edit'
                = link_to 'Eliminar', programa_path(programa), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button delete'
