
#days-menu
  %ul
    %li
      = link_to 'Lunes', '#'
    %li
      = link_to 'Martes', '#'
    %li
      = link_to 'Miércoles', '#'
    %li
      = link_to 'Jueves', '#'
    %li
      = link_to 'Viernes', '#'
    %li
      = link_to 'Sábado', '#'
    %li.last
      = link_to 'Domingo', '#'



.region
  %h2.title
    = page_title! 'Programación'

  %article
    %header
      %h3
        títulooo
    .inner
      %p
        Far wasaerafsfsdfsdfsafsdfsdfsfasfd

  %article
    %header
      %h3
        títulooo
    .inner
      %p
        Far wasaerafsfsdfsdfsafsdfsdfsfasfd


%h1 Listing programas

%table
  %tr
    %th Titulo
    %th Contenido
    %th
    %th
    %th

  - @programas.each do |programa|
    %tr
      %td= programa.titulo
      %td= programa.contenido
      %td= link_to 'Show', programa
      %td= link_to 'Edit', edit_programa_path(programa)
      %td= link_to 'Destroy', programa, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Programa', new_programa_path
