= form_for @categorium do |f|
  - if @categorium.errors.any?
    #error_explanation
      %h2= "#{pluralize(@categorium.errors.count, "error")} prohibited this categorium from being saved:"
      %ul
        - @categorium.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .actions
    = f.submit 'Save'
