%h1 Listing categoria

%table
  %tr
    %th Nombre
    %th
    %th
    %th

  - @categoria.each do |categorium|
    %tr
      %td= categorium.nombre
      %td= link_to 'Show', categorium
      %td= link_to 'Edit', edit_categorium_path(categorium)
      %td= link_to 'Destroy', categorium, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Categorium', new_categorium_path
