= form_for @contacto do |f|
  - if @contacto.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contacto.errors.count, "error")} prohibited this contacto from being saved:"
      %ul
        - @contacto.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :email
    = f.text_field :email
  .field.textarea
    = f.label :mensaje
    = f.text_area :mensaje
  .actions
    = f.submit 'Enviar', class: 'action-right'
