.region
  %h2.title Mensajes recibidos

  %table
    %tr
      %th Nombre
      %th Email
      %th Mensaje
      %th
      %th
      %th
    - @contactos.each do |contacto|
      %tr
        %td= contacto.nombre
        %td= contacto.email
        %td= truncate(contacto.mensaje, length: 30)
        %td= link_to 'Ver', contacto, class: 'button'
        %td= link_to 'Eliminar', contacto, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button'

  = will_paginate @contactos
