= nested_form_for @noticia, html: {multipart: true} do |f|
  - if @noticia.errors.any?
    #error_explanation
      %h2= "#{pluralize(@noticia.errors.count, "error")} prohibited this noticia from being saved:"
      %ul
        - @noticia.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :titulo
    = f.text_field :titulo
  .field
    = f.label :contenido
    = f.text_area :contenido
  .field
    = f.label :autor
    = f.text_field :autor
  .field
    = f.label :categoria_id
    = f.collection_select :categoria_id, Categoria.all, :id, :nombre
  .field
    = f.fields_for :fotos do |foto_form|
      = foto_form.file_field :imagen_foto
      = foto_form.link_to_remove "Eliminar esta foto"

    = f.link_to_add "Agregar foto", :fotos
  .field
    = f.fields_for :itunes_players do |itunes_player_form|
      = itunes_player_form.text_field :embed
      = itunes_player_form.link_to_remove "Eliminar este iTunes player"

    = f.link_to_add "Agregar iTunes player", :itunes_players

  .field
    = f.fields_for :soundclouds do |soundcloud_form|
      = soundcloud_form.text_field :link
      = soundcloud_form.link_to_remove "Eliminar este Soundcloud player"

    = f.link_to_add "Agregar Soundcloud player", :soundclouds
  .field
    = f.fields_for :videos do |video_form|
      = video_form.text_field :link
      = video_form.link_to_remove "Eliminar este video"

    = f.link_to_add "Agregar video", :videos

  .actions
    = f.submit 'Save'
