= nested_form_for @noticia, html: {multipart: true} do |f|
  - if @noticia.errors.any?
    #error_explanation
      %h2= "#{pluralize(@noticia.errors.count, "error")} prohibited this noticia from being saved:"
      %ul
        - @noticia.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :titulo
    = f.text_field :titulo
  .field
    = f.label :contenido
    = f.text_area :contenido
  .field
    = f.label :autor
    = f.text_field :autor
  .field
    = f.label :categoria_id
    = f.collection_select :categoria_id, Categoria.all, :id, :nombre
  .field
    = f.fields_for :fotos do |foto_form|
      = foto_form.file_field :imagen_foto
      = foto_form.link_to_remove "Remove this foto"

    = f.link_to_add "Agregar foto", :fotos

  .actions
    = f.submit 'Save'
