.region
  %h2.title
    = page_title! 'Editar noticia ' 
    %b= @noticia.titulo

  = render 'form'

  = link_to 'Show', @noticia, :class => 'button'
  \|
  = link_to 'Back', noticias_path, :class => 'button'
