= render '/scripts/megafolio'
= render '/scripts/megafolio_init'

= link_to 'New Categoría', new_categoria_path
= link_to 'New Noticia', new_noticia_path

%h1.page-title
  = page_title! 'Noticias'

= render 'megafolio/megafolio'
