= render '/scripts/megafolio'
= render '/scripts/megafolio_init'


.region
  %h2.title
    = page_title! 'Noticias'

- if current_admin
  .administration.head
    = link_to 'Nueva Categoría', new_categoria_path, :class => 'button new'
    = link_to 'Nueva Noticia', new_noticia_path, :class => 'button new'
    = link_to 'Administrar Categorías', categorias_path, :class => 'button new'


= render 'megafolio/megafolio'
