= render '/scripts/megafolio'
= render '/scripts/megafolio_init'

= link_to 'New Categoría', new_categoria_path
= link_to 'New Noticia', new_noticia_path

%h1.page-title
  = page_title! 'Noticias'

= render 'megafolio/megafolio'

-#
  - Noticia.first.fotos.each do |foto|
    = image_tag foto.imagen_foto(:index)

=# image_tag Noticia.first.fotos.first.imagen_foto(:index)

