

%article.region
  %header
    = @noticia.titulo
    %span
      = @noticia.autor
  .inner
    = paragraph(@noticia.contenido)

  %figure
    - @noticia.fotos.each do |foto|
      = image_tag foto.imagen_foto(:show)



= link_to 'Edit', edit_noticia_path(@noticia)
\|
= link_to 'Back', noticias_path
