%article.region
  %header
    = page_title! @noticia.titulo
  .inner
    = paragraph(@noticia.contenido)
  %section
    - @noticia.soundclouds.each do |soundcloud|
      = soundcloud.link_html
  %figure
    - @noticia.fotos.each do |foto|
      = image_tag foto.imagen_foto(:show)
    %section
    - @noticia.videos.each do|video|
      = video.link_html
    %section
    - @noticia.itunes_players.each do |itunes_player|
      = raw(itunes_player.embed)
  %section
    .autor
      = 'Autor: ' + @noticia.autor

- if current_admin
  = link_to 'Editar', edit_noticia_path(@noticia), :class => 'btn'
= link_to 'Atrás', noticias_path, :class => 'btn'
