= link_to 'Crear', new_categoria_noticia_path(@categoria, @noticia)

%p#notice= notice

%p
  %b Titulo:
  = @noticia.titulo
%p
  %b Contenido:
  = @noticia.contenido
%p
  %b Autor:
  = @noticia.autor
%p
  %b Categoria:
  = @noticia.categoria_id
%p
  %b Slug:
  = @noticia.slug

= link_to 'Edit', edit_noticia_path(@noticia)
\|
= link_to 'Back', noticias_path
