.region
  %h2.title= page_title! "Listado de Dj's"
 
  .administration.head 
    = link_to 'Agregar Dj', new_dj_path, :class => 'button'

  - @djs.each do |dj|
    %h2{:style => 'display: inline-block; font-weight: bold'}= dj.nombre
    = link_to 'Edit', edit_dj_path(dj), :class => 'button'
    = link_to 'Destroy', dj, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button'
    %hr

