.region
  %h2.title= page_title! "Lista de Dj's"

  .administration.head
    = link_to 'Nuevo Dj', new_dj_path, :class => 'button'

  - @djs.each do |dj|
    %h2{:style => 'display: inline-block; font-weight: bold'}= dj.nombre
    = link_to 'Editar', edit_dj_path(dj), :class => 'button'
    = link_to 'Eliminar', dj, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button'
    %hr

