.shared-social.follow.social-links
  %p
    Síguenos y ponte en contacto
  %ul
    %li
      = link_to '', 'http://www.youtube.com/user/stereosonicaradio', :class => 'youtube', :target => '_blank'
    %li
      = link_to '', 'https://twitter.com/stereo_sonica', :class => 'twitter', :target => '_blank'
    %li
      = link_to '', 'https://www.facebook.com/stereosonicaradio', :class => 'facebook', :target => '_blank'
    %li
      = link_to '', '/', :class => 'rss', :target => '_blank'
    %li
      = link_to '', 'mailto:info@stereosonicaradio.com', :class => 'email', :target => '_blank'
