.shared-social.follow.social-links
  %p
    Síguenos y ponte en contacto
  %ul
    %li
      = link_to '', '/', :class => 'youtube', :target => '_blank'
    %li
      = link_to '', '/', :class => 'twitter', :target => '_blank'
    %li
      = link_to '', '/', :class => 'facebook', :target => '_blank'
    %li
      = link_to '', '/', :class => 'rss', :target => '_blank'
    %li
      = link_to '', '/', :class => 'email', :target => '_blank'


