= render '/scripts/megafolio'
= render '/scripts/facebook_like'

- content_for :javascript do
  = javascript_include_tag 'http://s1.streammonster.com/system/streaminfo.js', 'http://s1.streammonster.com/js.php/edgaruiz/streaminfo/rnd0'

- page_title! 'Radio Online, classic rock, new wave, punk, postpunk, funk, electro, disco, shoegaze, pop, indie, post-rock'

#facebook.region
  .eight.columns.alpha
    %p.sub-label
      Ahora suena
    = link_to content_tag(:span, 'Cargando...', :id => 'cc_stream_info_summary'), radio_online_index_path, :class => 'button default italic full'

  .eight.columns.omega.like-it
    %p
      <div class="fb-like" data-href="https://www.facebook.com/stereosonicaradio" data-send="false" data-width="450" data-show-faces="true"></div>
#noticias.region
  %h2.title
    %b
      Noticias
  .content
    = render 'megafolio/megafolio'

#mensaje-front.region
  %h2.title
    stereosónica
    %b
      radio
  %p
    stereosónica es una radio online de música alternativa, donde escucharás artistas,
    bandas, álbumes y canciones rock, pop, punk, new wave, electrónica, reggae, folk, etc.
    que no encontrarás en otras emisoras. Compartiremos noticias, lanzamientos, reseñas,
    críticas, videos, singles, discos, etc. de las mejores bandas del mundo de todas las épocas.
    Encuéntranos online en facebook, twitter, youtube y soundcloud.
#share.region
  %h2.title
    %b
      síguenos
  = render 'social_only_likebox'
