= #render '/scripts/isotope'
= render '/scripts/megafolio'
= render '/scripts/megafolio_init'
= render '/scripts/facebook_like'

- content_for :javascript do
  = javascript_include_tag 'http://s1.streammonster.com/system/streaminfo.js', 'http://s1.streammonster.com/js.php/edgaruiz/streaminfo/rnd0'

- page_title! 'Stereosonica Radio'


#facebook.region
  .eight.columns.alpha
    %p
      Última canción
    ==  <span id="cc_stream_info_summary">Loading...</span>
    = link_to 'info@stereosonica.com', '/', :class => 'button default italic full'
  .eight.columns.omega
    %p
      <div class="fb-like" data-href="http://www.stereosonicaradio.com" data-send="false" data-width="450" data-show-faces="true"></div>
#noticias.region
  %h2.title
    %b
      Noticias
  .content
    = render 'megafolio/megafolio'

#mensaje-front.region
  %h2.title
    stereosonica
    %b
      radio
  %p
    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.

#share.region
