.region
  %h2.title
    = page_title! 'Categorías'

  .administration.head
    = link_to 'Nueva Categoría', new_categoria_path, :class => 'button'
    %br
  %table
    - @categorias.each do |categoria|
      %tr
        %td= categoria.nombre
        %td= link_to 'Editar', edit_categoria_path(categoria), class: 'button'
        %td= link_to 'Eliminar', categoria, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button'
