.region
  %h2.title
    = page_title! 'Categorías'

  .administration.head
    = link_to 'Crear Categoría', new_categoria_path, :class => 'button'
    %br

  - @categorias.each do |categoria|
    = link_to categoria.nombre, categoria, :class => 'button'
    = link_to 'Edit', edit_categoria_path(categoria), :class => 'button'
    = link_to 'Destroy', categoria, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button'
    %hr 

