= javascript_include_tag 'http://s1.streammonster.com/system/streaminfo.js', 'http://s1.streammonster.com/js.php/edgaruiz/streaminfo/rnd0'

= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
= javascript_include_tag 'player/jquery.jplayer.min.js'
= javascript_include_tag 'player/jquery.godsplayer.js'

= stylesheet_link_tag 'player/skin/style.css'

:javascript
  /* GodsPlayer v1.0.0 config */
  var Godsplayer1 = new GodsPlayer({
    'id': 'GodsPlayer1',
    'socialShareUrl': 'http://www.stereosonicaraido.com',
    'radioName': 'Stereosonica Radio',
    'enableArtwork': true,
    'streamUrl': 'http://68.168.103.13:8252/;stream/1&ext=.mp3',
    'streamFormat': 'mp3',
    'volume': 0.99,
    'power': true,
    'mute': false
  });

#radio-online-wrapper
  %header
    %h1#logo
      = link_to image_tag('logo.png'), '/'
  %section#radio-online-controles
    .controles-top
      .label-container
        .label.label-volume
          Volume
        .label.label-mute
          Mute
        .label.label-reproductores
          Reproductores
      .GodsPlayer#GodsPlayer1
        .mute-button
        .power-button
        .volume-wrapper
          .volume
            .slider

      %nav#main-menu
        %ul.social-links
          %li
            = link_to '', 'http://s1.streammonster.com/tunein.php/edgaruiz/playlist.pls', :class => 'apple'
          %li
            = link_to '', 'http://s1.streammonster.com/tunein.php/edgaruiz/playlist.pls', :class => 'blackberry'
          %li
            = link_to '', 'http://s1.streammonster.com/tunein.php/edgaruiz/playlist.pls', :class => 'android'
          %li
            = link_to '', 'http://tunein.com/radio/Stereosonica-s197293/', :class => 'tunein'
    .controles-bottom
      .label
        Ahora suena
      = link_to content_tag(:span, 'Cargando...', :id => 'cc_stream_info_summary'), '/', :class => 'button default italic full radio'

  -#
    %section#auspiciadores
      %ul
        - @auspiciadores.each do |auspiciador|
          %li
            = image_tag auspiciador.logo(:index)
