%h1 Listing dias



%div
  - @dias.each do |dia|
    %div
      %h2.dia
        = link_to dia.nombre, dia
        %br
        %br
      - dia.programas.each do |programa|
        %h3
          = programa.titulo

-#
  %table
    %tr
      %th Nombre
      %th Slug
      %th
      %th
      %th
  
    - @dias.each do |dia|
      %tr
        %td= dia.nombre
        %td= dia.slug
        %td= link_to 'Show', dia
        %td= link_to 'Edit', edit_dia_path(dia)
        %td= link_to 'Destroy', dia, :method => :delete, :data => { :confirm => 'Are you sure?' }
  
  %br

