= form_for @itunes_player do |f|
  - if @itunes_player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@itunes_player.errors.count, "error")} prohibited this itunes_player from being saved:"
      %ul
        - @itunes_player.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :embed
    = f.text_area :embed
  .actions
    = f.submit 'Save'
