.region
  %h2.title
    %b
      = page_title! 'Quiénes somos'
  - if current_admin
    .administration.head
      = link_to 'Editar', edit_quienes_somos_path(@quienes_somos_first), :class => 'button'


  .content
    = paragraph(@quienes_somos_first.descripcion)

.region.dj-list
  %h2.title
    %b
      Los dj's
  - if current_admin
    .administration.head
      = link_to 'Nuevo Dj', new_dj_path(@dj), :class => 'button'
      = link_to 'Administrar Djs', djs_path, :class => 'button'
  %ul.content
    - @dj_list.each do |dj|
      %li
        .field-image
          = link_to image_tag(dj.imagen_dj(:index)), dj.link
        %h3.button
          = link_to dj.nombre, dj.link
