.region
  %h2.title
    %b
      = page_title! 'quiénes somos'
  - if current_admin
    .administration.head
      = link_to 'Editar', edit_quienes_somos_path(@quienes_somos_first), :class => 'button'
      = link_to 'Agregar Dj', new_dj_path(@dj), :class => 'button'

  .content
    = paragraph(@quienes_somos_first.descripcion)

.region.dj-list
  %h2.title
    %b
      los dj's
  %ul.content
    - @dj_list.each do |dj|
      %li
        .field-image
          = image_tag(dj.imagen_dj(:index))
        %h3.button
          = dj.nombre
