%p#notice= notice

%p
  %b Descripcion:
  = @quienes_somos.descripcion
%p
  %b Slug:
  = @quienes_somos.slug

= link_to 'Edit', edit_quienes_somos_path(@quienes_somos)
\|
= link_to 'Back', quienes_somos_index_path
