%ul.menu
  %li
    = link_to_unless_current 'Inicio', root_path do
      %span
        INICIO
  %li
    = link_to_unless_current 'Quiénes Somos', quienes_somos_index_path do
      %span
        QUIÉNES SOMOS
  %li
    - if current_admin
      = link_to_unless_current 'Programación', lista_programas_path do
        %span
          PROGRAMACIÓN
    - else
      = link_to_unless_current 'Programación', programas_path do
        %span
          PROGRAMACIÓN
  %li
    = link_to_unless_current 'Noticias', noticias_path do
      %span
        NOTICIAS
  - if current_admin
    %li
      = link_to_unless_current 'Mensajes', contactos_path do
        %span
          MENSAJES
  - else
    %li.last
      = link_to_unless_current 'Contacto', new_contacto_path do
        %span
          CONTACTO


%ul.social-links
  %li
    = link_to '', 'http://s1.streammonster.com/tunein.php/edgaruiz/playlist.pls', :class => 'apple'
  %li
    = link_to '', 'http://s1.streammonster.com/tunein.php/edgaruiz/playlist.pls', :class => 'blackberry'
  %li
    = link_to '', 'http://tunein.com/radio/Stereosonica-s197293/', :class => 'android'
  %li.last
    = link_to '', 'http://tunein.com/radio/Stereosonica-s197293/', :class => 'tunein'


- if current_admin
  %ul.menu-admin
    %li
      = link_to_unless_current "Dj's", djs_path do
        %span
          DJ'S
    %li
      = link_to_unless_current 'Banners', diapositivas_path do
        %span
          BANNERS
    %li
      = link_to_unless_current 'Cerrar Sesión', destroy_admin_session_path do
        %span
          CERRAR SESIÓN
