%ul.menu
  %li
    = link_to 'Inicio', root_path
  %li
    = link_to 'Quiénes Somos', quienes_somos_index_path
  %li
    = link_to 'Programación', programas_path
  %li
    = link_to 'Noticias', noticias_path
  %li
    = link_to 'Contacto', new_contacto_path

%ul.social-links
  %li
    = link_to '', 'http://s1.streammonster.com/tunein.php/edgaruiz/playlist.pls', :class => 'apple'
  %li
    = link_to '', 'http://s1.streammonster.com/tunein.php/edgaruiz/playlist.pls', :class => 'blackberry'
  %li
    = link_to '', 'http://s1.streammonster.com/tunein.php/edgaruiz/playlist.pls', :class => 'android'
  %li
    = link_to '', 'http://tunein.com/radio/Stereosonica-s197293/', :class => 'tunein'

