%ul.menu
  %li
    = link_to_unless_current 'Inicio', root_path do
      %span
        Inicio
  %li
    = link_to_unless_current 'Quiénes Somos', quienes_somos_index_path do
      %span
        Quiénes Somos
  %li
    = link_to_unless_current 'Programación', programas_path do
      %span
        Programación
  %li
    = link_to_unless_current 'Noticias', noticias_path do
      %span
        Noticias
  %li.last
    = link_to_unless_current 'Contacto', new_contacto_path do
      %span
        Contacto

%ul.social-links
  %li
    = link_to '', 'http://s1.streammonster.com/tunein.php/edgaruiz/playlist.pls', :class => 'apple'
  %li
    = link_to '', 'http://s1.streammonster.com/tunein.php/edgaruiz/playlist.pls', :class => 'blackberry'
  %li
    = link_to '', 'http://tunein.com/radio/Stereosonica-s197293/', :class => 'android'
  %li.last
    = link_to '', 'http://tunein.com/radio/Stereosonica-s197293/', :class => 'tunein'


- if current_admin
  %ul.menu-admin
    %li
      = link_to_unless_current 'Diapositivas', diapositivas_path do
        %span
          Diapositivas
    %li
      = link_to_unless_current "Dj's", djs_path do
        %span
          Dj's
    %li
      = link_to_unless_current 'Auspiciadores', auspiciadores_path do
        %span
          Auspiciadores
    %li{:style => 'display: none'}
      = link_to_unless_current 'Mensajes Recibidos', contactos_path do
        %span
          Mensajes Recibidos
