%ul.menu
  %li
    = link_to 'Inicio', root_path
  %li
    = link_to 'Quiénes Somos', quienes_somos_index_path
  %li
    = link_to 'Programación', programas_path
  %li
    = link_to 'Noticias', noticias_path
  %li
    = link_to 'Contacto', new_contacto_path

%ul.social-links
  %li
    = link_to '', 'http://s1.streammonster.com/tunein.php/edgaruiz/playlist.pls', :class => 'apple'
  %li
    = link_to '', 'http://s1.streammonster.com/tunein.php/edgaruiz/playlist.pls', :class => 'blackberry'
  %li
    = link_to '', 'http://s1.streammonster.com/tunein.php/edgaruiz/playlist.pls', :class => 'android'
  %li
    = link_to '', 'http://tunein.com/radio/Stereosonica-s197293/', :class => 'tunein'


- if current_admin
  %ul.menu-admin
    %li
      = link_to 'Diapositivas', diapositivas_path
    %li
      = link_to "Dj's", djs_path
    %li
      = link_to 'Auspiciadores', auspiciadores_path
    %li{:style => 'display: none'}
      = link_to 'Mensajes Recibidos', contactos_path
