%ul.menu
  %li
    = link_to 'Inicio', '#'
  %li
    = link_to 'Quiénes Somos', quienes_somos_index_path
  %li
    = link_to 'Programación', ''
  %li
    = link_to 'Noticias', ''
  %li
    = link_to 'Contacto', new_contacto_path
%ul.social-links
  %li
    = link_to '', '', :class => 'apple'
  %li
    = link_to '', '', :class => 'blackberry'
  %li
    = link_to '', '', :class => 'android'
  %li
    = link_to '', '', :class => 'tunein'

