/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7 lt-ie10 ie" lang="en">
/[if IE 7] <html class="no-js ie7 lt-ie9 lt-ie8 lt-ie10 ie" lang="en">
/[if IE 8] <html class="no-js ie8 lt-ie9 lt-ie10" lang="en">
/[if IE 9] <html class="no-js ie9 lt-ie10" lang="en">
/ Consider adding a manifest.appcache: h5bp.com/d/Offline
/ [if gt IE 9]><!
%html.no-js.gt-ie9.non-ie{:lang => "en"}
  / <![endif]
  %head
    %title= page_title
    == <meta name="keywords" content="Indie Rock, The Strokes, " />
    == <meta name="description" content="Indie Rock Radio Online" />
    == <meta name="googlebot" content="index,follow" />
    == <meta name="robots" content="index,follow" />
    == <meta name="Revisit-After" content="7 days" />
    == <meta name="city" content="Lima" />
    == <meta name="country" content="Peru" />
    == <meta name="state" content="Lima" />
    == <meta name="zip code" content="Lima18" />
    == <meta name="subject" content="" />
    == <meta name="author" content="Kosmyka.com" />
    == <meta name="copyright" content="&copy;Todos los derechos reservados." />
    == <meta name="geo.placename" content="Lima, Peru" />
    == <meta name="geo.region" content="PE-Lima" />
    == <meta name="author" content="humans.txt" />

    = favicon_link_tag 'favicon.png'

    = auto_discovery_link_tag(:atom, noticias_url(format: "atom"))
    // STYLESHEETS
    = stylesheet_link_tag 'application.css'
    = stylesheet_link_tag 'royal-slider-9.2/royalslider.css', 'royal-slider-9.2/rs-default.css'
    = yield :css
    - if notice
      = stylesheet_link_tag 'jquery.foobar-2.1/jquery.foobar.2.1.css'
    //= stylesheet_link_tag 'http://www.arcomega.pe/css/ie-stereo.css'

    // JAVASCRIPTS
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'

    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery.min.js', 'royal-slider-9.2/jquery.royalslider.custom.min.js', 'royal-slider-9.2/jquery.easing-1.3.js', 'royal-slider-9.2/royal-slider-init.js'
    = yield :javascript


    - if notice
      = render 'scripts/foobar'

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    /[if lt IE 9]
      %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}
    = csrf_meta_tag


  %body{id: bodyid, class: bodyclass}
    #wrapper
      #wrapper-inner

        .container.top
          %header.main.sixteen.columns{:role => 'banner'}
            .inner
              %h1#logo
                = link_to image_tag('logo.png'), '/'
              #radio-online
                %span
                  Escucha
                = link_to '', radio_online_index_path(id: 'radio-online'), id: 'radio-online-link'

          %nav#main-menu.sixteen.columns
            = render '/layouts/menu'
          %section#content.sixteen.columns.region.top{:role => 'main'}
            = yield

        #postscript-bottom
          .container
            = image_tag 'logo-stereosonica.png'
        %footer.main.sixteen.columns
          #footer-top
            .container
              = render '/layouts/menu'
              = render '/shared/follow_us'

          #footer-bottom
            .container
              #copyright
                © 2013 Todos los derechos reservados, Stereosonica.
              #autor
                DISEÑO Y DESARROLLO WEB POR
                =link_to 'KOSMYKA', 'http://www.kosmyka.com', :target => '_blank'

          /[if IE 7]
            .fix-ie
          /[if IE 8]
            .fix-ie

  = javascript_include_tag 'jquery.popupWindow.js'

  :javascript
    $('#radio-online-link').popupWindow({
       height: 330, // poner 700 cuando hayan auspiciadores
       width: 500,
       centerScreen:1
    });

  = render 'shared/google_analytics'
