/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/[if IE 9] <html class="no-js lt-ie10" lang="en">
/ Consider adding a manifest.appcache: h5bp.com/d/Offline
/ [if gt IE 9]><!
%html.no-js.gt-ie9.non-ie{:lang => "en"}
  / <![endif]
  %head
    %title= page_title
    = stylesheet_link_tag 'application.css' 
    = javascript_include_tag 'application.js'

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    /[if lt IE 9]
      %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}
    = csrf_meta_tag

  %body
    = yield
